
.cards-wrapper {
  background-color: black;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  }
  
  .card {
    margin-bottom: 1rem;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #6d4803ee;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(180, 33, 33, 0.1);
  }
  
  @media (min-width: 768px) {
    .cards-wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card {
      border: none;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
    }
    
    .card-image {
      height: 24.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    
    .card-image img {
      border-radius: 1rem;
      object-fit: full;
      height: 90%;
    }
    .details h4 {
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      color: rgb(12, 12, 11);
    }
    
    .details h6 {
      font-size: 1.0rem;
    }
  
    
      .rightside {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
      .more-details-button {
        height: 2rem;
        width: 100%;
        border: none;
        align-items: center;
        border-radius: 0.5rem;
        background-color: rgb(7, 103, 133);
        color: rgb(232, 230, 227);
        cursor: pointer;
      }      
    .card {
        border: none;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }
    .details h6{
      color:bisque;
       font-family:sans-serif;
       font-size: 15pxS;
    }
  }
  